%label{ class: "bsp-label", for: "checkbox-input" }
  %input{ type: "checkbox", name: "checkbox-input", id: "checkbox-input", value: "0", checked: "true" }
  %i{ class: "bsp-checkbox" }
  Checkbox 1

%label{ class: "bsp-label", for: "checkbox-input-b" }
  %input{ type: "checkbox", name: "checkbox-input", id: "checkbox-input-b", value: "1" }
  %i{ class: "bsp-checkbox" }
  Checkbox 2