.bsp-control-bar
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        content_cut
      Video  
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        local_offer
      Tag 
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        file_download
      Download 
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        share
      Share 
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        edit
      Edit 
  %button.icon--button
    %span.icon--text-under
      %i.material-icons
        local_offer
      View tags 