.modal {
  overflow: auto;
  #download-modal .modal-dialog, #create-clip-modal .modal-dialog {
    a {
      padding: 0 1em;
    }
    h3 {
      margin: 0;
    }
  }
  .modal-content {
    padding: 0;
    .modal-header {
      position: relative;
      padding: 30px 30px 15px;
      border: none;
      background: $gray-lighter;
      border-radius: 6px 6px 0 0;
      h2 {
        margin: 0;
      }
      .close {
        font-family: arial;
        position: absolute;
        top: -12px;
        right: -12px;
        border: 3px solid $gray-lighter;
        opacity: 1;
        line-height: 30px;
        margin: 0;
        box-sizing: content-box;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: black;
        color: white;
      }
      &.modal-error {
        background-color: $brand-danger;
        color: #fff;
      }
      &.modal-success {
        background-color: $brand-success;
        color: #fff;
      }
      &.modal-confirm {
        background-color: $brand-warning;
        color: #fff;
      }
    }
    .modal-body {
      padding: 25px 30px 15px;
    }
    .modal-footer {
      border: none;
      padding: 15px 0;
      .btn-default.pull-left {
        color: #5cb85c;
      }
    }
    label {
      display: block;
      &.radio {
        font-weight: normal;
      }
    }
    .radio_buttons .controls {
      padding: 0 0 0 20px;
    }
  }
  .modal-body {
    .email {
      display: none;
    }
    .radio-group {
      input[type="radio"], label {
        display: inline-block;
      }
      label {
        font-weight: normal;
      }
    }
  }
  .loader {
    display: none;
    margin-right: 5px;
  }
  .radio-group label {
    cursor: pointer;
  }
  .notice {
    display: none;
  }
  #downloads {
    ul {
      margin-bottom: 1.5em;
    }
    a {
      display: block;
      margin: 0.7em 0;
      .fa {
        font-size: 1em;
        margin-right: 4px;
      }
    }
  }
  .downloads a {
    color: #5cb85c;
  }
}

