//sidebar ------------------------------------------------------

$sidebar-max-width: 160px;
$sidebar-min-width: 85px;

.page-wrap {
  transition: padding 0.3s;
  .menu-side-wrap {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    bottom: 0;
    background: $gray-darker;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    color: white;
    .menu-side {
      height: 100%;
      width: $sidebar-max-width;
      overflow-y: auto;
      @include scrollbars(white);
      border-right: 1px solid $gray-lighter;
    }
    .sidebar-brand {
      display: block;
      padding: 30px 25px;
      transition: background 0.3s;
      border-bottom: 1px solid rgba(150, 150, 150, 0.3);
      &:hover {
        background: darken($gray-darker, 3%);
      }
      img {
        @extend .respond;
        margin: 0 auto;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid rgba(150, 150, 150, 0.3);
      a {
        display: block;
        padding: 10px 25px;
        text-transform: uppercase;
        font-size: 11px;
        color: darken($gray-light, 20%);
        transition: color 0.2s;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          color: white;
          text-decoration: none;
          .fa {
            color: white;
          }
        }
        &:focus {
          text-decoration: none;
        }
        &.current {
          box-shadow: inset 5px 0px 0px 0px $brand-primary;
          background: lighten($gray-darker, 3%);
          color: white;
        }
      }
      .fa {
        color: $gray-light;
        margin-right: 5px;
        font-size: 14px;
      }
    }
    .project-nav {
      background: rgba(white, 0.04);
      li span.text {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
      }
    }
    .beta {
      display: none;
    }
  }

  .menu-overlay {
    visibility: hidden;
    position: fixed;
    z-index: 29;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(white, 0.9);
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 25px;
      left: 50%;
      height: 100px;
      width: 100px;
      background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
    }
  }

  @include mobile-first($screen-md-min) {
    padding-left: $sidebar-min-width;
    .menu-side-wrap {
      width: $sidebar-min-width;
      .menu-side {
        width: $sidebar-min-width;
      }
      .sidebar-brand {
        padding: 15px;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gray-darker;
        z-index: 5;
        font-size: 10px;
        text-align: center;
        display: none;
        padding-top: 18px;
      }
      ul {
        padding: 0;
        a {
          position: relative;
          padding: 15px;
          text-align: center;
          &:hover .text {
            display: block;
          }
        }
        .fa {
          margin-right: 0;
          font-size: 20px;
        }
      }
    }
  }

  @include mobile-first($screen-xxl-min) {
    padding-left: $sidebar-max-width;
    .menu-side-wrap {
      width: $sidebar-max-width;
      .menu-side {
        width: $sidebar-max-width;
      }
      .sidebar-brand {
        padding: 30px 25px;
      }
      .text {
        display: inline;
        position: static;
        background: none;
        text-align: left;
        padding: 0;
        font-size: 11px;
      }
      .beta {
        display: block;
        position: absolute;
        top: 13px;
        right: 30px;
        font-size: 7px;
        color: $brand-warning;
        font-weight: bold;
      }
      ul {
        padding: 10px 0;
        .fa {
          margin-right: 5px;
          font-size: 14px;
        }
        a {
          padding: 10px 25px;
          text-align: left;
          &:hover .text {
            display: inline;
          }
        }
      }
    }
  }

  &.sidebar-menu-open {
    .menu-side-wrap {
      width: $sidebar-max-width;
    }
    .menu-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
