$btn-default-text-color: white !default;
$br: 4px !default;

.tag-list {
  .info {
    margin: 15px 0;
  }
}

.tag-icon {
  display: inline-block;
  padding: 7px 12px 7px 10px;
  border-radius: 0 3px 3px 0;
  background: $gray-dark;
  margin: 0 15px;
  position: relative;
  color: white;
  &:before {
    content: "";
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent $gray-dark transparent transparent;
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
  }
  &:after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background: white;
  }
  &.timecoded {
    background: $brand-primary;
    color: $btn-default-text-color;
    &:before {
      border-color: transparent $brand-primary transparent transparent;
    }
    a {
      color: $btn-default-text-color;
    }
  }
  &.editing {
    background: $brand-danger;
    color: white;
    &:before {
      border-color: transparent $brand-danger transparent transparent;
    }
    &.timecoded a {
      color: white;
    }
  }
  .timecode {
    position: relative;
    &:hover .times {
      visibility: visible;
      opacity: 1;
    }
    .times {
      position: absolute;
      bottom: 30px;
      left: 15px;
      margin-left: -45px;
      background: white;
      color: $text-color;
      width: 80px;
      padding: 5px 0;
      border-radius: $br;
      box-shadow: 0 1px 0.5em rgba(black, 0.3);
      visibility: hidden;
      opacity: 0;
      transition: all 0.1s;
      font-size: 13px;
      &:after {
        content: '';
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #efefef transparent transparent transparent;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
      }
      hr {
        margin: 5px 0;
      }
    }
  }
  .fa {
    margin-left: 5px;
  }
  a {
    color: white;
  }
  form {
    display: inline-block;
    input {
      background: darken($brand-danger, 10%);
      border: none;
      outline: none;
      width: 90px;
      color: white;
    }
  }
  .play-video-from-tag:hover {
    cursor: pointer;
  }
}

ul.suggestions {
  margin: 0px;
  padding: 0px
}

.modal-body.add-tags ul.suggestions {
  min-height: 40px;
}

.tag-autocomplete .suggestions li {
  display: inline-block;
  a {
    @extend .tag-icon;
    margin-bottom: 5px;
  }
}

.modal-body.add-tags .suggestions li {
  display: inline-block;
  a {
    @extend .tag-icon;
    margin-bottom: 5px;
  }
}

.tag-suggestions-wrap {
  margin-top: 16px;
  min-height: 24px;
}

span.bulk-tag-suggestions {
  background-color: #a7c450;
  border-radius: 7px;
  padding: 2px 10px;
  margin-left: 4px;
  margin-bottom: 10px;
  display: inline-block;
  a {
    color: #ffffff;
  }
}

div.no-tag-suggestions {
  cursor: pointer;
  color: #989898;
  margin-top: 10px;
}

.error-info {
  color: red;
}

.new-participant-form input.ng-invalid.ng-touched {
  border: solid 1px red;
  background-color: lavenderblush;
}

div.no-tag-suggestions:hover {
  color: #90ab41;
}

p.selected-tag-msg {
  padding: 8px 0px;
  margin-top: 15px;
}

.tag-stream {
  margin-bottom: 20px;
  h3 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    margin-top: 8px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  .tag-icon {
    a {
      display: inline-block;
    }
  }
  .tag-duration {
    font-size: 10px
  }
}

.tag-stream.timeline-mode {
  margin-bottom: 0px !important;
}
.tag-timeline-view li {
  
}

.cms-tags-list {
  h3 {
    font-size: $font-size-h5;
    font-weight: bold;
  }
}

.create-tag-input {
  width: 100%;
  .button-td {
    width: 160px;
  }
  button {
    margin-left: 20px;
    width: 140px;
  }
  .tag-autocomplete {
    position: relative;
    .auto-complete {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 2;
    }
    .suggestions {
      background: $gray-lighter;
      margin: 0;
      padding: 20px 10px 10px 10px;
    }
    .loading {
      margin-top: 10px;
    }
  }
}

.image-sidebar .create-tag-input {
  .btn {
    @extend .btn-lg;
    font-size: $font-size-base;
  }
}

#tags {
  .info {
    border-top: 2px solid $xl-bg-color;
    margin-top: 40px;
    padding-top: 25px;
    display: flex;
    .fa {
      font-size: $font-size-h2;
      flex: 0 0 40px;
      margin-top: 5px;
    }
  }
}
