.playlist-page {
  .playlist-html {
    min-height: 200px;
  }
  .playlist-loader {
    padding: 50px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: -75px;
    position: absolute;
    left: 50%;
    background: white;
    top: 50px;
    z-index: 5;
    span {
      height: 100px;
      position: relative;
      &:after {
        content: '';
        border: 5px solid rgba(200, 200, 200, .5);
        border-bottom-color: $gray;
        animation: spin 1s linear 0s infinite;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  h2 {
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    border-bottom: 1px solid $gray-lighter;
    position: relative;
  }
  li > a, li > span {
    padding: 8px 15px;
    display: block;
    transition: background-color 0.2s, color 0.2s;
  }
  li > a:hover {
    background-color: $brand-primary;
    color: $btn-default-text-color;
  }

  .menu-items {
    li > a, li > span {
      padding: 20px 15px;
    }
    .count {
      float: right;
    }
    .current {
      background: $xl-bg-color;
      position: relative;
      color: set-text-color($xl-bg-color);
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $xl-bg-color;
      }
    }
  }

  .sharer-name {
    font-size: 11px;
    font-style: italic;
  }
  .is-not-ready, .cog {
    color: $gray-light;
    cursor: pointer;
  }
  .cog:hover {
    color: $gray-darker;
  }
  .cog {
    position: absolute;
    top: 0;
    right: 0;
  }
  .ready-icon {
    position: absolute;
    top: 0;
    right: 30px;
  }
  .ready-shared-icon {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .controls a {
    padding: 20px 15px;
    border-bottom: 1px solid $gray-lighter;
    font-weight: bold;
    color: $brand-success;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 45px;
    padding: 6px 15px;
    background: white;
    display: none;
  }
  .editing {
    .cog {
      color: $gray-darker;
    }
    .slider {
      display: block;
    }
  }
  .subfolders {
    background: $gray-lighter;
    padding: 0 0 0 1.4em;
    li {
      border-left: 1px solid $gray-light;
    }
  }

  li.controls:hover {
    .sharer-name {
      color: $gray-darker;
    }
  }
  p.sharer-name, p.name {
    margin: 0;
  }
}
