<div class="bsp-control-bar"><button class="icon--button"><span class="icon--text-under"><i class="material-icons">content_cut</i>Video  </span></button><button class="icon--button"><span class="icon--text-under"><i class="material-icons">local_offer</i>Tag </span></button><button class="icon--button"><span class="icon--text-under"><i class="material-icons">file_download</i>Download </span></button><button class="icon--button"><span class="icon--text-under"><i class="material-icons">share</i>Share </span></button><button class="icon--button"><span class="icon--text-under"><i class="material-icons">edit</i>Edit </span></button><button class="icon--button"><span class="icon--text-under"><i class="material-icons">local_offer</i>View tags</span></button></div>