.comment
  .comment__avatar-container
    .comment-avatar
      B
  .comment__text-container  
    %p 
      %strong Bill
      &nbsp;- 2 mins ago 
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum.
  %hr.comment--hr
  %button.btn.btn--secondary.btn--tertiary.comment__button
    Reply


