.list-view
  .list-view__thumb
    %a.image-thumb-wrap
      %img{ src: "https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwidk87PiO3UAhWCaRQKHWINCI8QjRwIBw&url=https%3A%2F%2Fprovisioning.sswtimepro.com%2FVideos&psig=AFQjCNE_nvevQINkiRgfe4S_d_2FUElKPg&ust=1499169690222919" }
      %span.indicator
        %span.fa.fa-fw.fa-spin.fa-refresh
      %span.indicator
        %span.fa.fa-fw.fa-exclamation-triangle
      %ul.image-thumb-wrap__meta
        %li
          %i.material-icons
            videocam
        %li.duration
          0:50  
      %span.fa.fa-chevron-right
  .list-view__details    

    %h3
      %a
        This is the title of this media

    %p
      This is the project

    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation...

  %hr.list-view__hr

  .list-view__stats
    %span
      UID:1234
    %span
      Uploaded: 5d
    %span
      Edited: 4d
    %span
      Published: 11hr



  .list-view__actions
    %button.btn.btn--tertiary.btn--delete.btn--delete--secondary
      Delete button
    %button.btn.btn--tertiary.btn--secondary
      Edit 
    %button.btn.btn--tertiary.btn--secondary
      Publish



