<div class="error-bar"><div class="error-bar__inner"><div class="error-bar__content icon--text-right"><i class="material-icons">error</i><span>This is an error message - please correct whatever has caused it.</span></div></div></div>