.bsp-transcript-player
  .bsp-transcript-player__search
    %input.bsp-transcript-player__search__input{type: "text", id: "searchbox", name: "query", placeholder: "Search transcript..."}
    #search-controls.bsp-transcript-player__search__controls
      %i.material-icons.bsp-transcript-player__search__controls__search
        search
    .bsp-transcript-container
      %span.bsp-clip-start
        %strong INTERVIEWER:    
        A
      %span place
      %span with
      %span good
      %span customer
      %span service.
      %span Do
      %span you
      %span have 
      %span any 
      %span recomendations,
      %span or
      %span.bsp-current-word you 
      %span know
      %span somewhere
      %span with
      %span good
      %span customer
      %span service?
      %br/
      %br/  
      %span 
        %strong Wendy
      %span In
      %span a 
      %span particular 
      %span ares
      %span or
      %span just
      %span generally? 

  %a.bsp-expand-transcript
    Show more
    %i.material-icons
      expand_more




