.bsp-transcript-player
  .bsp-transcript-player__search
    %input.bsp-transcript-player__search__input{type: "text", id: "searchbox", name: "query", placeholder: "Search transcript...", value: "Customer"}
    #search-controls.bsp-transcript-player__search__controls
      %span#search-position
        1 of 2
      %i.material-icons{ id: "search-previous" }
        expand_less
      %i.material-icons{ id: "search-next" } 
        expand_more
    .bsp-transcript-container
      %span.bsp-clip-start
        %strong INTERVIEWER:    
        A
      %span place
      %span with
      %span good
      %span.highlight.current customer
      %span service.
      %span Do
      %span you
      %span have 
      %span any 
      %span recomendations,
      %span or
      %span you 
      %span know
      %span somewhere
      %span with
      %span good
      %span.highlight customer
      %span service?
      %br/
      %br/  
      %span 
        %strong Wendy
      %span In
      %span a 
      %span particular 
      %span ares
      %span or
      %span just
      %span generally? 

  %a.bsp-expand-transcript
    Show more
    %i.material-icons
      expand_more




