<div class="upload-btn-wrapper"><button class="btn btn--tertiary btn--secondary">File input</button><input type="file" name="file-input" id="file-input" /><label for="file-input">File name</label></div>