<label class="bsp-label" for="radio-input"><input type="radio" name="radio-input" id="radio-input" value="0" checked="true" /><i class="bsp-radio"></i>Radio 1</label><label class="bsp-label" for="radio-input-b"><input type="radio" name="radio-input" id="radio-input-b" value="1" /><i class="bsp-radio"></i>Radio 2</label>