%table
  %thead
    %tr
      %th
        Column header
      %th
        Long column header title
      %th
        Column header
      %th
  %tbody   
    %tr
      %td
        Lorem ipsum dolor sit amet 
      %td
        Lorem ipsum dolor sit amet 
      %td
        Lorem ipsum dolor sit amet 
      %td.u-width-auto
        %button.btn.btn--tertiary.btn--delete--secondary
          Delete
        %button.btn.btn--tertiary.btn--secondary
          Edit
        %button.btn.btn--tertiary.btn--secondary
          Publish  
    %tr
      %td
        Lorem ipsum dolor sit amet 
      %td  
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
      %td
        Lorem ipsum dolor sit amet 
      %td.u-width-auto
        %button.btn.btn--tertiary.btn--delete--secondary
          Delete
        %button.btn.btn--tertiary.btn--secondary
          Edit
        %button.btn.btn--tertiary.btn--secondary
          Publish 
    %tr
      %td  
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
      %td  
        Lorem ipsum dolor sit amet
      %td  
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
      %td.u-width-auto
        %button.btn.btn--tertiary.btn--delete--secondary
          Delete
        %button.btn.btn--tertiary.btn--secondary
          Edit
        %button.btn.btn--tertiary.btn--secondary
          Publish