<div class="tag-icon editing"><form><input type="text" /></form><a title="timecode of tag"><i class="material-icons">schedule</i></a><a title="edit tag name"><i class="material-icons">delete</i></a></div>