.tag-icon.editing
  %form
    %input{ type: "text" }
      Title of tag
  %a{ href: "", title: "timecode of tag" }
    %i.material-icons
      schedule
  %a{ href: "", title: "edit tag name" }
    %i.material-icons
      delete